<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="aprimenu()">
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        <ion-title>
            Elenco Siti Archeologici
        </ion-title>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="menulat">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu prova</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item (click)="gohome()">Home</ion-item>
        <ion-item>Impostazioni</ion-item>
        <ion-item >Lista</ion-item>
    </ion-content>
    <ion-content id="menulat">
    </ion-content>
  </ion-menu>

<ion-content>
  <ion-list>
    <ion-item (click)="changepage()" text-center>
      <ion-thumbnail>
        <img src="assets/icon/pressa.jpg">
      </ion-thumbnail>
      <ion-label style="font-family: Humanst;">Pressa</ion-label>
    </ion-item>
    <ion-item (click)="changepage()" text-center>
      <ion-thumbnail>
        <img src="assets/icon/fabbrica_armi.jpg">
      </ion-thumbnail>
      <ion-label style="font-family: Humanst;">Fabbrica Armi</ion-label>
    </ion-item>
  </ion-list>
  <ion-item (click)="changepage()" text-center>
    <ion-thumbnail>
      <img src="assets/icon/caseoperaie.jpg">
    </ion-thumbnail>
    <ion-label style="font-family: Humanst;">Case Operaie</ion-label>
  </ion-item>
  <ion-item (click)="changepage()" text-center>
    <ion-thumbnail>
      <img src="assets/icon/Galleto.jpg">
    </ion-thumbnail>
    <ion-label style="font-family: Humanst;">Centrale di Galleto</ion-label>
  </ion-item>
  <ion-item (click)="changepage()" text-center>
    <ion-thumbnail>
      <img src="assets/icon/officine_bosco.jpg">
    </ion-thumbnail>
    <ion-label style="font-family: Humanst;">Officine Bosco</ion-label>
  </ion-item>
</ion-content>
