<ion-header>
  <ion-toolbar>
      <ion-buttons (click)='aprimenu()'>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        <ion-title>Pressa</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="menulat">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-item (click)="changepage()">Home</ion-item>
      <ion-item>Impostazioni</ion-item>
      <ion-item>
          <ion-label style="font-family: Humanst;" (click)="changepagelista()">Lista</ion-label>
      </ion-item>
  </ion-content>
  <ion-content id="menulat">
  </ion-content>
</ion-menu>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            Pressa di Terni
          </ion-col>
          <ion-button (click)="cambiatesto()" id="pulsantelingua" color="dark">EN</ion-button>
        </ion-row>
        <br>
        <ion-row>
          <img src="../../assets/img/1.jpg">
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="play()">
                  <ion-icon name="play"></ion-icon>
              </ion-button>
              <ion-button (click)="stop()">
                  <ion-icon name="pause"></ion-icon>
                </ion-button>
                <ion-progress-bar [value]="progress"></ion-progress-bar>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col id="elem">
                La pressa da dodicimila tonnellate risale al 1934 quando alla Società "Terni" fu affidata la realizzazione dei programmi di armamento che richiedevano l'allestimento di una nuova flotta di navi da battaglia. Nell’ambito del progetto di ammodernamento degli impianti, fu ordinata alla ditta inglese Davy Brothers. Per più d'una caratteristica inedita, venne subito considerata avanguardia del progresso tecnologico.
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-slides scrollbar="true" class="image-slider">
                  <ion-slide *ngFor="let img of images">
                    <img src="../../assets/img/{{img}}" class="thumb-img" imageViewer/>
                  </ion-slide>
              </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
