<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="openFirst()">
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            <ion-title>
                CityRemixTerni
            </ion-title>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="menulat">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu prova</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item>Home</ion-item>
        <ion-item>Impostazioni</ion-item>
        <ion-item (click)="changepage()">
            <ion-label>
              Lista
            </ion-label>
          </ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
    </ion-content>
    <ion-content id="menulat">
    </ion-content>
  </ion-menu>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        NOME
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        PLAY-PAUSE
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
        <ion-col>
          TESTO
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
