.spazio1{
    margin-left: 5px;
    margin-top: 2px;
    color:#3d3d29;
}
ion-toolbar {
    --background: #222;
  }
ion-menu {
    --background: #ffffff;
}
.muovititolo{
    margin-left: 32px;
}
.logoitt{
    float: right;
}
.testo{
    margin-left: 1px;
    margin-top: -10px;
    color:#3d3d29;
}
.testo1{
    margin-left: 1px;
    margin-top: -20px;
    color:#3d3d29;
}
.testo2{
    margin-left: 1px;
    margin-top: -20px;
    color:#3d3d29;
}
.testo3{
    margin-top: -20px;
    margin-left: 1px;
    color:#3d3d29;
}
* {
    font-family: 'Humanst';
  }