.spazio1{
    margin-left: 5px;
    margin-top: 2px;
    color:#3d3d29;
}
.muovibottone1{
    margin-left: 230px;
    margin-top: -45px;
}
.muovibottone2{
    margin-left: 229px;
    margin-top: -5px;
}
.muovititolo{
    margin-left: 60px;
}