<ion-header>
  <ion-toolbar>
    <ion-buttons (click)='aprimenu()'>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            <ion-title class="muovititolo"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 25px;">
                City Remix
            </ion-title>
            <ion-thumbnail class="logoitt">
              <img src="assets/icon/logoitt2.jpg">
            </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="menulat">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-item>Home</ion-item>
      <ion-item>Impostazioni</ion-item>
      <ion-item (click)="changepage()">
          <ion-label style="font-family: Humanst;">Lista</ion-label>
      </ion-item>
  </ion-content>
  <ion-content id="menulat">
  </ion-content>
</ion-menu>

<ion-content>
<ion-img [src]="ciao"></ion-img>
<ion-text>
  <h1 class="spazio1" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <br>
  Introduzione:
  </h1>
</ion-text>
<p class="ion-text-center">Quest'app è stata ideata per permettere ai turisti di effettuare un'ottima visita turistica della splendida città di Terni.</p>
<!-- <ion-button class="muovibottone1" (click)='gotopage()' color="dark" size="small">ARCHEOLOGIA</ion-button> -->
<ion-button (click)='showmap()' color="dark" size="small" expand="block" size="medium">Mappa</ion-button>
<ion-button (click)='changepage()' expand="block" color="dark" size="medium">ELENCO SITI</ion-button>
</ion-content>
